nav {
  /* height: 5em; */
  background: rgb(255, 197, 146);
  display: flex;
}
nav li {
  display: inline-block;
  margin-left: 2em;
}
nav h1 {
  margin: 1em 3em;
  text-transform: uppercase;
}
nav ul {
  margin-top: 3.7em;
}

label {
  display: inline-block;
  text-align: right;
  width: 15em;
  margin-bottom: 2em;
  /* background: red; */
}
#submitButton {
  margin-left: 15.3em;
}
.note {
  font-style: italic;
  font-size: small;
  font-weight: 300;
}
.error {
  width: 50%;
  padding: 1em;
  background-color: red;
  border-radius: 10px;
  color: white;
}
.success {
  width: 50%;
  padding: 1em;
  background-color: rgb(14, 224, 14);
  border-radius: 10px;
  color: white;
}
.button {
  margin: 1em;
}
.block {
  display: block;
}
/* ============== LIVRE D'OR ======================= */
.commentaires {
  margin: 2em 0;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 1px rgba(221, 141, 37, 0.753);
}
.commentaires h6 {
  text-decoration: underline;
  font-style: italic;
  padding: 0.5em 0;
  text-indent: 3em;
}
.commentaires p {
  padding-left: 1em;
}

/* ========================= FOOTER ================================ */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgb(255, 197, 146);
  /* color: rgb(2, 2, 2); */
  text-align: center;
}
.footer p {
  padding: 0.5em 0;
}

/* ========================= FOOTER ================================ */
#indexMain {
  height: 600px;
  background: center no-repeat url("../images/hands_rings.jpg");
  background-size: cover;
}
#indexMain p {
    font-size: 1.2em;
    padding: 1.5em 2em;
    margin-top: 5em;
    background-color: rgba(196, 196, 196, 0.534);
}
#indexMain h1 {
    background-color: rgba(218, 218, 218, 0.712);
  text-align: center;
  margin: auto;
  padding: .2em 0;
}
#indexMain h2 {
    text-align: center;

}